<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/面向对象程序设计教程_数据持久化和访问的实现/src/随机文件的读写/TestRandomIO.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="随机文件的读写.TestRandomIO"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="面向对象程序设计教程_数据持久化和访问的实现"/>
</launchConfiguration>
